<div class="section no-pad-bot" id="index-banner">

  </div>
  <!--CONTENT START-->
  <div class="row">
    <!--TAB START-->
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3 "><a href="#comp" class="active">Competition</a></li>
          <li class="tab col s3"><a href="#judges">Judges</a></li>
          <li class="tab col s3 "><a href="#entrants">Entrants</a></li>
        </ul>
      </div>
      <!--TAB END-->
      <!--COMP SECTION START-->
      <div id="comp" class="col s12">

        <!--OPEN COMP-->

        <!--OPEN COMP END-->
          <!--COMPETITION START -->
          {{#comp}}
            <div class="col s12 m3">
              <div class="col s12 "><img class = "responsive-img circle" src = "{{image_url}}"></div>
              <div class="col s12">
                <span class="flow-text">{{name}}</span>
              </br>
                <a class="blue black-text center waves-effect waves-light btn lighten-3"><i class="material-icons left">assignment</i>Edit </a>

                <br>
                <div class="collection card-panel grey lighten-3">
                  <a href="#!" class="collection-item center grey black-text lighten-3">
                    <span class='medium title '><b>Date &nbsp </b></span><br><br>{{date}}
                  </a>
                   <a href="#!" class="collection-item center grey black-text lighten-3">
                    <span class='medium title '><b>Time &nbsp </b></span><br><br>{{start_time}} - {{end_time}}
                  </a>
                   <a href="#!" class="collection-item center grey black-text lighten-3">
                    <span class='medium title '><b>Location &nbsp </b></span><br><br>{{location}}
                  </a>
                   <a href="#!" class="collection-item center grey black-text lighten-3">
                    <span class='medium title '><b>Entries &nbsp </b></span><br><br>{{entries}}
                  </a>

                </div>
              </div>
            </div>
            <!--COMPETITION END -->
            <div class = "col s12 m9 card-panel  center light-green accent-4 lighten-1">
              <h3 class='title'>{{organizer}}</h3>
              <div class = "openComp">
                <a class="white black-text waves-effect waves-light btn"><i class="material-icons left">assignment</i>Open Competition </a>

              </div>
              <div class = "closeComp">
                <a class="white black-text waves-effect waves-light btn"><i class="material-icons left">assignment</i>Close Competition </a>
              </div>
              <p><b>{{description}}</b></p>

              {{/comp}}

            </div>
            <div class='col s12 m9 card-panel grey lighten-3 center'>
              <h5>Minimum Requirements</h5>
                <ul class="collapsible" data-collapsible="accordion">
                  <li>
                    <div class="collapsible-header"><i class="material-icons"></i>Age Requirements </div>
                    <div class="collapsible-body"><p>Participant startup companies should be no older than 5 years.</p></div>
                  </li>
                  <li>
                    <div class="collapsible-header"><i class="material-icons"></i>Startup Turnover Requirements </div>
                    <div class="collapsible-body"><p> Startups are required to have a turnover of less than R1 Billion </p></div>
                  </li>

                 <li>
                    <div class="collapsible-header"><i class="material-icons"></i>Constraints </div>
                    <div class="collapsible-body"><p>Startups who have no employees are not allowed to participate</p></div>
                  </li>

                  <li>
                    <div class="collapsible-header"><i class="material-icons"> </i>Other Requirements</div>
                    <div class="collapsible-body"><p>Participant startup companies should be registered pty ltd's.</p></div>
                  </li>
                </ul>

                <h5>Prizes</h5>
                  <ul>
                    <li><strong>1st Prize: </strong>R500 000</li>
                    <li><strong>2nd Prize: </strong>R250 000</li>
                    <li><strong>3rd Prize: </strong>R100 000</li>
                    <li><strong>4th Prize: </strong>Nothing</li>
                  </ul>
            </div>
            <div class="section">

            </div>
      </div>
      <!--COMP SECTION END-->

            <!--JUDGE SECTION START-->
            <div id="judges" class="col s12">
              <div class = "container">
                <a href = "orgList.html#judges"><div class="row">
                    <div class="col s3"><br><i class="large material-icons">add</i></div>
                    <div class="col s9">
                      <br><br>
                      <span class="flow-text">Add Judge
                      </span>
                    </div>
                  </div>
                </a>
                <hr/>
                  <div class="row">
                    <div class="col s3"><img class = "responsive-img circle" src = "/img/judy.jpg"></div>
                    <div class="col s6">
                      <br>
                      <span class="flow-text">Judy Jackson</span>
                      <br>
                        <p>TechCrisp
                              <br>
                              Judge since: 29/10/15
                              <br>
                        </p>
                    </div>
                    <div class = "col s3">
                      <a class="btn-floating btn-large waves-effect waves-light red listButton"><i class="material-icons">delete</i></a>
                    </div>
                  </div>
                  <hr/>
                </div>
            </div>
            <!--JUDGE SECTION END-->

      <!--STARTUP ENTRY SECTION START-->
      <div id="entrants" class="col s12">
        <div class = "container">
          <!--OPEN JUDGING START-->
          <div class = "col s12 m12 card-panel  center light-green accent-4 darken-1">
              <h3> Entries</h3>
              <div class = "openJudge">
                <a class="white black-text waves-effect waves-light btn"><i class="material-icons left">assignment</i>Open Judging </a>

              </div>

              <div class = "closeJudge">
                <a class="red black-text waves-effect waves-light btn"><i class="material-icons left">assignment</i>Close Judging  </a>
              </div>
              <br>
          </div>
        <hr/>
        <!--STARTUP START-->
        {{#entrants}}
        <div class="row">
          <div class="col s3"><img class = "responsive-img circle" src = "{{image_url}}"></div>
          <div class="col s6">
            <span class="flow-text">{{name}}</span>
            <br>
            <span class="">
              <p>Name: {{name}}
                    <br>
                 Location: {{location}}
                    <br>
                 Industry: {{industry}}
                    <br>
                 Sector: {{sector}}
                    <br>
                 Employees: {{employees}}
                    <br>
                 Stage: {{stage}}
                    <br>
                 Turnover: {{turnover}}
              </p>
            </span>
          </div>
          <div class = "col s3">
            <a href =  "/org/startup/delete/{{startup_id}}" class="btn-floating btn-large waves-effect waves-light red listButton"><i class="material-icons">delete</i></a>
            <a href="/judge/{{competition_id}}/{{startup_id}}" id="judgeBtn"class="judgeBtn hidden btn-floating btn-large waves-effect waves-light blue listButton">Judge</a>

          </div>
        </div>
        <hr/>
        {{/entrants}}
        <!--STARTUP END-->
      </div>
    </div>
    <!--STARTUP ENTRY SECTION END-->
  </div>
<!--CONTENT END-->
