<div class="section no-pad-bot" id="index-banner">

  </div>
  <!--CONTENT START-->
  <div class="row">
    <!--TAB START-->
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3 "><a href="#comp" class="active">Competition</a></li>
          <li class="tab col s3"><a href="#judges">Judges</a></li>
          <li class="tab col s3 "><a href="#entrants">Entrants</a></li>
        </ul>
      </div>
      <!--TAB END-->
      <!--COMP SECTION START-->
      <div id="comp" class="col s12">

        <!--OPEN COMP-->
        <div class = "openComp"><div class="row">
          <div class="col s3"><br><i class="medium material-icons">assignment</i></div>
          <div class="col s9">
            <br>
            <span class="flow-text">Open Competition
            </span>
          </div>
        </div></div>
        <div class = "closeComp"><div class="row">
          <div class="col s3"><br><i class="medium material-icons">assignment</i></div>
          <div class="col s9">
            <br>
            <span class="flow-text">Close Competition
            </span>
          </div>
        </div></div>
        <hr/>
        <!--OPEN COMP END-->
          <!--COMPETITION START -->
          {{#comp}}
            <div class="col s12 m3">
              <div class="col s12"><img class = "responsive-img circle" src = "{{image_url}}"></div>
              <div class="col s12">
                <span class="flow-text">{{name}}</span>
                <br>
                <div class="collection">
                  <a href="#!" class="collection-item"><span class='btn col s12'>Date &nbsp </span><br><br>{{date}}</a>
                  <a href="#!" class="collection-item"><span class='btn col s12'>Time</span><br><br>{{start_time}} - {{end_time}} </a>
                  <a href="#!" class="collection-item"><span class='btn col s12'>Location</span><br><br>{{location}}</a>
                  <a href="#!" class="collection-item"><span class='btn col s12'>Entries</span><br><br>{{entries}}</span></a>
                </div>
              </div>
            </div>
            <!--COMPETITION END -->
            <div class = "col s12 m6">
              <h4>{{organizer}}</h4>
              <p>{{description}}</p>
              <hr>
              {{/comp}}
              <h5>Minimum Requirements</h4>
                <ul>
                  <li>Under 5 years old</li>
                  <li>Turnover less than R1bn</li>
                  <li>Constrain</li>
                  <li>Whatever</li>
                </ul>

                <h5>Prizes</h4>
                  <ul>
                    <li><strong>1st Prize: </strong>R500 000</li>
                    <li><strong>2nd Prize: </strong>R250 000</li>
                    <li><strong>3rd Prize: </strong>R100 000</li>
                    <li><strong>4th Prize: </strong>Nothing</li>
                  </ul>
            </div>

            <div class="section">

            </div>
      </div>
      <!--COMP SECTION END-->

            <!--JUDGE SECTION START-->
            <div id="judges" class="col s12">
              <div class = "container">
                <a href = "orgList.html#judges"><div class="row">
                    <div class="col s3"><br><i class="large material-icons">add</i></div>
                    <div class="col s9">
                      <br><br>
                      <span class="flow-text">Add Judge
                      </span>
                    </div>
                  </div>
                </a>
                <hr/>
                  <div class="row">
                    <div class="col s3"><img class = "responsive-img circle" src = "./img/judy.jpg"></div>
                    <div class="col s6">
                      <br>
                      <span class="flow-text">Judy Jackson</span>
                      <br>
                        <p>TechCrisp
                              <br>
                              Judge since: 29/10/15
                              <br>
                        </p>
                    </div>
                    <div class = "col s3">
                      <a class="btn-floating btn-large waves-effect waves-light red listButton"><i class="material-icons">delete</i></a>
                    </div>
                  </div>
                  <hr/>
                </div>
            </div>
            <!--JUDGE SECTION END-->

      <!--STARTUP ENTRY SECTION START-->
      <div id="entrants" class="col s12">
        <div class = "container">
          <!--OPEN JUDGING START-->
          <div class = "openJudge"><div class="row">
            <div class="col s3"><br><i class="medium material-icons">assignment</i></div>
            <div class="col s9">
              <br>
              <span class="flow-text">Open Judging
              </span>
            </div>
          </div></div>
          <div class = "closeJudge"><div class="row">
            <div class="col s3"><br><i class="medium material-icons">assignment</i></div>
            <div class="col s9">
              <br>
              <span class="flow-text">Close Judging
              </span>
            </div>
          </div></div>
          <hr/>
          <!--OPEN JUDGING END -->

        <a href = "#"><div class="row">
          <div class="col s3"><br><i class="medium material-icons">person_pin</i></div>
          <div class="col s9">
            <br>
            <span class="flow-text">Entries (20/30)
            </span>
          </div>
          </div>
        </a>
        <hr/>
        <!--STARTUP START-->
        {{#entrants}}
        <div class="row">
          <div class="col s3"><img class = "responsive-img circle" src = "{{image_url}}"></div>
          <div class="col s6">
            <span class="flow-text">{{name}}</span>
            <br>
            <span class="">
              <p>Name: {{name}}
                    <br>
                 Location: {{location}}
                    <br>
                 Industry: {{industry}}
                    <br>
                 Sector: {{sector}}
                    <br>
                 Employees: {{employees}}
                    <br>
                 Stage: {{stage}}
                    <br>
                 Turnover: {{turnover}}
              </p>
            </span>
          </div>
          <div class = "col s3">
            <a class="btn-floating btn-large waves-effect waves-light red listButton"><i class="material-icons">delete</i></a>
            <a class="btn-floating btn-large waves-effect waves-light green listButton">Open</a>
            <a href="/judge" id="judgeBtn"class="hidden btn-floating btn-large waves-effect waves-light blue listButton">Judge</a>

          </div>
        </div>
        <hr/>
        {{/entrants}}
        <!--STARTUP END-->
      </div>
    </div>
    <!--STARTUP ENTRY SECTION END-->
  </div>
<!--CONTENT END-->
