<div class='container'>
	<div class=' light-green accent-1 center darken-3 card-panel'>
		<h1> {{name}} </h1>
		<h5> Pitch Results </h5>
		{{#results}}
		<div class='card-panel small white black-text'>
			<h5>{{criteria}}</h5>
			<h4><strong><b>{{points}}</b></strong></h4>
		</div>

		<div class='card-panel grey lighten-4 red-text'>
			<input class='entrantID' type='hidden' value='{{id}}'>
			<input class='scoreID' type='hidden' value='{{score_id}}'>
			{{#feedback}}
			<h5 class='badge grey lighten-3'> Feedback </h5>
			<h6>{{this}}</h6>
			<br>
			

			<textarea id="feedbackArea" name='feedback' class="materialize-textarea feedbackEdit grey lighten-2 black-text" >{{this}}</textarea>
			<button class=' editFeedback orange btn col s6 m6'> Edit </button>
			<button class='  red btn col s6 m6'> Remove </button>
			{{/feedback}}
			<form action='/judge/results/updateScoreFeedback/{{id}}/{{score_id}}' method='POST'>

				{{^feedback}}

				
			        <textarea id="feedbackArea"  name='feedback' class="materialize-textarea feedbackField" ></textarea>
			        
		
				<button class='green  btn col s6 m6' type='submit'> add feedback</button>	
				{{/feedback}}
			</form>

		</div>

		{{/results}}
	</div>
</div>

