
<div class='row'>

	<div class='col s12 m3 profile'>
			{{#startup}}
	      <img class = "responsive-img circle" src = "{{image_url}}">
	      <h4> {{name}}</h4>
	      <h6> {{location}} </h6>
	      <h7> The most delicious apps in the indutry</h7>
	      <div class="collection">
	        <a href="#!" class="collection-item"><span class='btn col s12'>Stage &nbsp </span><br><br>{{stage}}</a>
	        <a href="#!" class="collection-item"><span class='btn col s12'>Industry</span><br><br>{{industry}} </a>
	        <a href="#!" class="collection-item"><span class='btn col s12'>Sector</span><br><br>{{sector}}</a>
	        <a href="#!" class="collection-item"><span class='btn col s12'>Employees</span><br><br>{{employees}}</span></a>
	        <a href="#!" class="collection-item"><span class='btn col s12'>Turnover</span><br><br>{{turnover}}</a>
	      </div>
			{{/startup}}
	  </div>


  	<div class='col s12 m8 vidContent'>

  		<iframe src="//www.slideshare.net/slideshow/embed_code/key/qAzwgPFPSRmCh9" class="video" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/sallyjenkinson/an-introduction-to-open-data-53732088" title="An introduction to open data" target="_blank">An introduction to open data</a> </strong> from <strong><a href="//www.slideshare.net/sallyjenkinson" target="_blank">Sally Jenkinson</a></strong> </div>

  	</div>


  	<div class='col s12 m8'>

      <ul class="collection">
      		<li class="collection-item active">



 			      <p>Overall Startup Score &nbsp <span class='chip form-control' id='totalScore'></span></p>
 			      <button class="btn waves-effect waves-dark orange " type="submit" name="action">Submit
				    <i class="material-icons right">send</i>
				  </button>
 			    </li>

      		{{#criterias}}

	      		<script type="text/javascript">
	      			addCriteria('{{elemID}}')
	      		</script>
 			    <li class="collection-item">

 			      <span class="badge"> <div id='{{elemID}}' class="chip rate"></div></span>
 			      <p class="title"><b>{{name}}</b></p>
 			      <p>{{description}}</p>
 			      <button class='btn blue lighten-2 giveFeedback' >Give Feedback</button>
 			      <div class="row feedback">
			        <div class="input-field white col s12">
					           <textarea id="textarea1" class="materialize-textarea feedbackField" ></textarea>
					           <label for="textarea1">Feedback</label>
					 </div>
					 <button class='btn orange submitFeedback' >Submit</button>
			      </div>

 			    </li>
 			{{/criterias}}

 		  </ul>




	</div>
  </div>
